# Managed by ansible

maxretry = 3
[{{ nut_ups_name | default('mainups') }}]
desc = {{ nut_ups_desc | default('UPS System')}}
driver = {{ nut_ups_driver }}
port = {{ nut_ups_port | default('auto') }}
{% if nut_ups_vendorid is defined and nut_ups_vendorid %}
vendorid = {{ nut_ups_vendorid}}
{% endif %}
{% if nut_ups_productid is defined and nut_ups_productid %}
productid = {{ nut_ups_productid }}
{% endif %}
{% if nut_ups_bus is defined and nut_ups_bus %}
bus = {{ nut_ups_bus }}
{% endif %}
{% if nut_ups_battery_voltage_high is defined and nut_ups_battery_voltage_low is defined %}
default.battery.voltage.high = {{ nut_ups_battery_voltage_high | default('27.30') }}
default.battery.voltage.low = {{ nut_ups_battery_voltage_low | default('22.00') }}
{% endif %}
{% if nut_ups_runtimecal is defined and nut_ups_runtimecal %}
runtimecal = {{ nut_ups_runtimecal }}
{% endif %}
