# Managed by ansible

maxretry = 3
[{{ ups_nut_ups_name | default('mainups') }}]
desc = {{ ups_nut_ups_desc | default('UPS System')}}
driver = {{ ups_nut_ups_driver }}
port = {{ ups_nut_ups_port | default('auto') }}
{% if ups_nut_ups_vendorid is defined and ups_nut_ups_vendorid %}
vendorid = {{ ups_nut_ups_vendorid}}
{% endif %}
{% if ups_nut_ups_productid is defined and ups_nut_ups_productid %}
productid = {{ ups_nut_ups_productid }}
{% endif %}
{% if ups_nut_ups_bus is defined and ups_nut_ups_bus %}
bus = {{ ups_nut_ups_bus }}
{% endif %}
{% if ups_nut_ups_battery_voltage_high is defined and ups_nut_ups_battery_voltage_low is defined %}
default.battery.voltage.high = {{ ups_nut_ups_battery_voltage_high | default('27.30') }}
default.battery.voltage.low = {{ ups_nut_ups_battery_voltage_low | default('22.00') }}
{% endif %}
{% if ups_nut_ups_runtimecal is defined and ups_nut_ups_runtimecal %}
runtimecal = {{ ups_nut_ups_runtimecal }}
{% endif %}
