# Managed by Ansible

{% if ups_nut_admin_user is defined and ups_nut_admin_password is defined and ups_nut_admin_user and ups_nut_admin_password %}
[{{ ups_nut_admin_user }} ]
    password={{ ups_nut_admin_password }}
    upsmon master
    actions= SET
    instcmds= all
{% endif %}

{% if ups_nut_mon_user is defined and ups_nut_mon_password is defined and ups_nut_mon_user and ups_nut_mon_password%}
[{{ ups_nut_mon_user }}]
    password = {{ ups_nut_mon_password }}
    upsmon slave
{% endif %}