[Interface]
PrivateKey = {{ vpn_wg_client_private_keys[client.name] | trim }}
Address = {{ client.ip }}
{% if vpn_wg_dns_local is defined and vpn_wg_dns_local %}
DNS = {{ vpn_wg_dns_local }}, {{ vpn_wg_dns | default('8.8.8.8') }}
{% else %}
DNS = {{ vpn_wg_dns | default('8.8.8.8') }}
{% endif %}

[Peer]
PublicKey = {{ vpn_wg_server_public_key.stdout | trim }}
Endpoint = {{ vpn_wg_endpoint }}:{{ vpn_wg_port | default('51820') }}
AllowedIPs = {{ vpn_wg_allowed_ips }}
PersistentKeepalive = 25
