[Interface]
Address = {{ wg_address }}
DNS = {{ wg_dns }}
{% if wg_dns_local is defined and wg_dns_local %}
DNS = {{ wg_dns_local }}
{% endif %}
MTU = 1420
PostUp = iptables -A FORWARD -i {{ wg_interface | default('wg0') }} -j ACCEPT; iptables -t nat -A POSTROUTING -o {{ wg_network_iface | default('eth0') }} -j MASQUERADE
PostDown = iptables -D FORWARD -i {{ wg_interface | default('wg0') }} -j ACCEPT; iptables -t nat -D POSTROUTING -o {{ wg_network_iface | default('eth0') }} -j MASQUERADE
ListenPort = {{ wg_port | default('51820') }}
PrivateKey = {{ wg_server_private_key.content | b64decode }}


{% for client in wg_clients %}
# {{ client.name }}
[Peer]
PublicKey = {{ wg_client_public_keys[client.name] | trim }}
AllowedIPs = {{ client.ip }}
{% endfor %}
