domain_name = "${DOMAIN_NAME}"

records = {
  "bitwarden" = {
    name     = "bitwarden"
    type     = "CNAME"
    content  = "${DOMAIN_NAME}"
    proxied  = true
    comment  = ""
  },
  "bookshelf" = {
    name    = "bookshelf"
    type    = "CNAME"
    content = "${DOMAIN_NAME}"
    proxied = true
    comment = ""
  },
  "contact" = {
    name    = "contact"
    type    = "CNAME"
    content = "${DOMAIN_NAME}"
    proxied = true
    comment = ""
  },
  "docs" = {
    name    = "docs"
    type    = "CNAME"
    content = "${DOMAIN_NAME}"
    proxied = true
    comment = ""
  },
  "hassio" = {
    name    = "hassio"
    type    = "CNAME"
    content = "${DOMAIN_NAME}"
    proxied = true
    comment = ""
  },
  "ombi" = {
    name    = "ombi"
    type    = "CNAME"
    content = "${DOMAIN_NAME}"
    proxied = true
    comment = ""
  },
  "recept" = {
    name    = "recept"
    type    = "CNAME"
    content = "${DOMAIN_NAME}"
    proxied = true
    comment = ""
  },
  "themes" = {
    name    = "themes"
    type    = "CNAME"
    content = "${DOMAIN_NAME}"
    proxied = true
    comment = ""
  },
  "vpn" = {
    name    = "vpn"
    type    = "CNAME"
    content = "${DOMAIN_NAME}"
    proxied = false
    comment = ""
  },
  "movies" = {
    name    = "movies"
    type    = "CNAME"
    content = "${DOMAIN_NAME}"
    proxied = false
    comment = ""
  },
  "minecraft" = {
    name    = "minecraft"
    type    = "CNAME"
    content = "${DOMAIN_NAME}"
    proxied = true
    comment = ""
  },
  "local" = {
    name    = "*.local"
    type    = "A"
    content = "192.168.1.24"
    proxied = false
    comment = ""
  },
  "mx1" = {
    name    = "${DOMAIN_NAME}"
    type    = "MX"
    content = "route1.mx.cloudflare.net"
    proxied = false
    priority = 90
    comment = ""
  },
  "mx2" = {
    name    = "${DOMAIN_NAME}"
    type    = "MX"
    content = "route2.mx.cloudflare.net"
    proxied = false
    priority = 53
    comment = ""
  },
  "mx3" = {
    name    = "${DOMAIN_NAME}"
    type    = "MX"
    content = "route3.mx.cloudflare.net"
    proxied = false
    priority = 62
    comment = ""
  }
}